/* Estilos para centrar el contenido vertical y horizontalmente */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(219, 184, 233);
}
/*Estilo para el contener y centrar */
.container {
    text-align: center;
    background-color: rgb(169, 142, 233);
    width: 12cm;
    background-size: 5cm 5cm;
    padding: 10px;
    border-radius: 10px;
}

/* Estilos para el formulario (añadir otros estilos según sea necesario) */
form {
    color: whitesmoke;
    margin: 0 auto;
    max-width: 100%;
}

/* Estilos para el botón */
.boton {
    color: rgb(255, 255, 255);
    background-color: rgb(148, 87, 87);
    border: 1px solid whitesmoke;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}
